
*{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.banner{
    margin: auto;
    padding: 15px;
}
 .thead{
     background-color: #957DAD;
 }

 #action{
     color: #957DAD;
 }
 #action:hover{
     color: #e0bbe4;
 }

 #header-button{
     color: white;
     background-color: #957DAD;
 }

 #submit,#cancle, #goback{
     background-color: #957DAD;
     color: white;
 }

 .trow{
     color: white;
 }

 .header{
    justify-content: right;
    display: flex;
     padding-top: 2em;
     padding-right: 15px;
 }

 .card{
     text-align: center;
     box-shadow: 10px 10px 30px grey;
 }

 .card-header{
     background-color: #957DAD;
     font-size: 30px;
     color: white;
 }